@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// #### VARIABLES ####
$BASE_FONT_SIZE: 10px;
$BASE_LINE_HEIGHT: 1.5;

$FONT_COLOR: #384a5c;
$TITLE_COLOR: #333;
$WHITE_COLOR: #fff;
$BLACK_COLOR: #000;
$BUTTON_CHECKED_COLOR: #862583;
$BORDER_COLOR: #b2b2b2;
$BACKGROUND_COLOR: #f5f8fa;

$FONT_FAMILY: 'Roboto', Arial, serif;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_BOLD: 700;

// #### INITIAL STYLES ####

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: $BASE_FONT_SIZE;
    font-family: $FONT_FAMILY;
    line-height: $BASE_LINE_HEIGHT;
    color: $FONT_COLOR;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1180px;
    font-size: 1.4rem;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1180px;
    overflow-x: hidden;
    background-color: $BACKGROUND_COLOR;
    color: $FONT_COLOR;
}

//#### ANIMATIONS ####

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
    opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(100%);
}

@import './components/index';
@import './layouts/index';
