.modal-backdrop {
    position: fixed;
    z-index: 10;
    overflow-y: auto;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: min(50rem, 50%);
    height: 100%;
    background-color: $WHITE_COLOR;
    overflow: hidden;

    &__header {
        padding: 0.8rem;
        border-bottom: 0.3rem solid #1f1f9e;
        font-size: 1.6rem;
        font-weight: $FONT_WEIGHT_MEDIUM;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    &__footer {
        padding: 0.8rem;
        border-top: 0.1rem solid $BORDER_COLOR;
    }

    &__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        margin-right: 0.4rem;
        padding: 0.6rem;
        border: 0.1rem solid $BORDER_COLOR;
        background-color: transparent;
        color: $FONT_COLOR;
        font-size: 1.4rem;
        font-weight: $FONT_WEIGHT_MEDIUM;
        cursor: pointer;

        &--save {
            background-color: $BUTTON_CHECKED_COLOR;
            color: $WHITE_COLOR;
        }
    }
}
