.modal-backdrop {
    position: fixed;
    z-index: 10;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: min(50rem, 50%);
    height: 100%;
    z-index: 100;
    overflow: hidden;
}