.todo-item {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid $BORDER_COLOR;
    padding: 0.8rem;

    &__text {
        &--completed {
            text-decoration: line-through;
        }
    }

    &__checkbox {
        width: 1.3em;
        height: 1.3em;
        margin-right: 0.8rem;
        background-color: $BACKGROUND_COLOR;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid $BORDER_COLOR;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &:checked {
            background-color: $BUTTON_CHECKED_COLOR;
        }
    }
}
